PORT=3001
DATABASE_URL="file:./dev.db"

AI_PROVIDER="cloud"

OLLAMA_LOCAL_BASE_URL="http://localhost:11434"
OLLAMA_CLOUD_BASE_URL="https://ollama.com"

OLLAMA_MODEL="auto"
OLLAMA_CLOUD_MODEL="auto"
OLLAMA_LOCAL_MODEL="qwen3"

OLLAMA_API_KEY="50c9be08b8a94c10a0333277c46e9da5.2ZIH_6mPofEMqOOb8x8OzkK6"
